.input_item {
    .input_w:not(.checkbox) {
        /* stylelint-disable-next-line value-keyword-case */
        max-width: __MSG_input_width_css__ !important;
    }

    &.checkbox {
        .input_w_and_help_btn {
            /* stylelint-disable-next-line value-keyword-case */
            max-width: __MSG_input_width_css__;
        }

        &.window_hostname_comparison .input_w_and_help_btn {
            max-width: calc(__MSG_input_width_css__ - 28px);
        }
    }
}
